name: Build

on:
  merge_group:

  pull_request:
    branches:
      - main

  schedule:
    - cron: '0 8 * * *' # Every day at 8:00 PM AEDT

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: jdx/mise-action@v3
        name: Set up mise
        with:
          cache: true

      - run: mise trust

      - run: mise run install

      - run: mise run lint

      - run: mise run test

      - run: mise run build
