name: Build

on:
  workflow_dispatch:

  merge_group:

  pull_request:
    branches:
      - main

  schedule:
    - cron: '0 8 * * *' # Every day at 8:00 PM AEDT

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        name: Set up mise
        with:
          cache: true

      - run: mise run install

      - run: mise run lint

      - run: mise run test

      - run: mise run build
