name: Publish

on:
  push:
    branches:
      - main

  workflow_dispatch:

  schedule:
    - cron: '0 8 * * *' # Every day at 8:00 PM AEDT

permissions:
  contents: read
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: jdx/mise-action@v3
        name: Set up mise
        with:
          cache: true

      - run: mise trust

      - name: Configure npm auth
        run: npm config set //npm.pkg.github.com/:_authToken ${{ secrets.GITHUB_TOKEN }}

      - run: mise run install

      - run: mise run publish
