name: Publish

on:
  push:
    branches:
      - main
    tags:
      - '*.*.*'

  workflow_dispatch:

  schedule:
    - cron: '0 8 * * *' # Every day at 8:00 PM AEDT

permissions:
  contents: read
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Use tag as image version (when building tags)
        if: ${{ github.ref_type == 'tag' }}
        run: echo "VERSION=${{ github.ref_name }}" >> "$GITHUB_ENV"

      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        name: Set up mise
        with:
          cache: true

      - run: mise run trust

      - run: mise run install

      - run: mise run publish
